*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  nav {
    background: #feb236;
    height: 50px;
    width:100%;
  
  }
  
  label.logo {
    color: black;
    font-size: 30px;
    line-height: 50px;
    padding: 0 30px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 50px;
    margin:0 5px;
  }
  
  nav ul li a{
    color: white;
    font-size: 15px;
    
  }
  